.selector {
    width: 350px;
}

#roster-table-wrap {
    max-width: 800px;
}

#waitlist-table-wrap {
    max-width: 800px;
}

#activity-selection {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.roster-actions {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#roster-print-action {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

#print-roster-button {
    width: 100px;
    height: auto;
}