#class-selection-section {
    display: none;
}

#roster-section {
    display: none;
}

#session-selector {
    width: 350px;
}

#class-selector {
    width: 350px;
}

#roster-table-wrap {
    max-width: 1000px;
}

#class-selection {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.dt-length select {
    width: 50px;
}

#roster-print-action {
    display: flex;
    gap: 10px;
    align-items: center;
}

#print-roster-button {
    width: 100px;
    height: auto;
}

.hidden {
    display: none !important;
}

.roster-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}