ul {
    list-style-type: disc;
    padding-left: 2.5em;
}

#usctdp-upcoming-sessions-table {
    table-layout: fixed;
    width: auto;
}

#session-filter {
    width: 250px;
}

#usctdp-classes-container {
    max-width: 1200px;
}

div.dt-length select {
    width: 50px;
}

.instructors-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.class-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}