#class-selector-wrapper {
    display: none;
}

#roster-table-wrapper {
    display: none;
}

#session-selector {
    width: 250px;
}

#class-selector {
    width: 250px;
}

#class-selection {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.dt-length select {
    width: 50px;
}