* {
    box-sizing: border-box;
}

.badge {
    color: #000;
    padding: 2px 4px 4px 4px;
    text-align: center;
    border-radius: 10px;
}

.usctdp-datatable tbody tr td {
    vertical-align: middle;
}

.usctdp-datatable thead tr th {
    font-weight: bold;
    background-color: #83cdf5;
}

.usctdp-datatable tbody tr {
    height: 50px;
}

.usctdp-datatable tbody tr:nth-child(odd) {
    background-color: #d5d1d1;
}

.usctdp-datatable tbody tr:nth-child(even) {
    background-color: #f1f1f1;
}

.hidden {
    display: none !important;
}

.success {
    color: green;
    font-weight: bold;
}

.error {
    color: red;
    font-weight: bold;
}

div.dt-length select {
    width: 50px;
}

@keyframes loading-pulse {
    0% {
        opacity: 1;
        color: white;
    }

    50% {
        opacity: 0.6;
        color: lightgray;
        transform: scale(0.98);
    }

    100% {
        opacity: 1;
        color: white;
    }
}

.is-loading .button-text {
    animation: loading-pulse 1.5s infinite ease-in-out;
}

.is-loading {
    cursor: wait;
    pointer-events: none;
}

.context-selector-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.context-selector-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.context-selector-wrap {
    width: 370px;
}

.context-selector-label-wrap {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.context-selector-label {
    font-weight: bold;
    text-align: left;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.payment-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.payment-table-wrap {
    max-height: 320px;
    overflow-y: auto;
    border: 1px solid #ddd;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    background-color: #b3b3b3;
    width: fit-content;
}

.payment-table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.payment-table th {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #dcdcdc;
    color: #555;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.5px;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #000;
}

.payment-table td {
    padding: 10px;
    border-top: 1px solid #000000;
    background-color: #e3eef2;
    color: #333;
    vertical-align: middle;
}

.payment-table th:nth-child(1) {
    width: 80px;
}

.payment-table th:nth-child(2) {
    width: 300px;
}

.payment-table th:nth-child(3),
.payment-table th:nth-child(5) {
    width: 60px;
}

.payment-table th:nth-child(4) {
    width: 50px;
    padding: 0;
    margin: 0;
}

.payment-table th:nth-child(6) {
    width: 50px;
}

.payment-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    width: 100%;
}

.payment-summaries {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.debit-summary {
    background-color: #f3c3c3;
    color: black;
    border-style: solid;
    border-width: 2px;
    border-color: #471818;
}

.credit-summary {
    background-color: #a5f3bc;
    color: black;
    border-style: solid;
    border-width: 2px;
    border-color: #01571a;
}

.balance-summary {
    background-color: #ceecf5;
    color: black;
    border-style: solid;
    border-width: 2px;
    border-color: #005670;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

.price-input {
    width: 60px;
}

.order-summary {
    font-size: 0.85rem;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 2px 1px;
    border-radius: 20px;
}

.order-summary .label {
    font-weight: bold;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.checkout-section label {
    font-weight: bold;
    text-align: right;
    font-size: 0.9rem;
    text-transform: uppercase;
    width: 150px;
}

.payment-method-note {
    border-left: 4px solid #f1cd18;
    padding-left: 5px;
}

.payment-method-note span {
    font-size: 0.85rem;
    color: #666;
    max-width: 450px;
}

.payment-note {
    border-left: 1px solid #868585;
    margin-left: 20px;
    padding-left: 10px;
}

.payment-note h3 {
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px;
}

.payment-note p {
    margin: 0px;
    font-size: 0.85rem;
    color: #666;
    max-width: 450px;
}

.checkout-field {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.payment-option {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* The Modal Container */
dialog {
    border: none;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    margin: auto;
    position: fixed;
    inset: 0;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

dialog h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 10px;
}

dialog label {
    font-weight: 600;
    font-size: 0.9rem;
    color: #555;
}

dialog input {
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.2s;
}

dialog form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

dialog .modal_field_group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

dialog .modal_field {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "lab sel";
    gap: 5px;
}

dialog .modal_field label {
    grid-area: lab;
    justify-self: end;
    align-self: center;
    text-align: right;
    margin-right: 5px;
}

dialog .modal_field input {
    grid-area: sel;
    width: 100%;
}

dialog .actions-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    border-top: 2px solid #f0f0f0;
    padding-top: 10px;
    margin-top: 10px;
}

.transfer-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.transfer-column {
    padding: 0;
    margin: 0;
}

.transfer-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1d7300;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}

.transfer-btn:hover {
    background-color: #31c200;
}

.transfer-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #358719;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}

.transfer-one {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.transfer-arrows {
    display: flex;
    flex-direction: row;
    margin-left: -10px;
}

.transfer-arrow {
    margin-right: -10px;
}

.field-row {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    min-height: 25px;
    max-height: 25px;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.w-100 {
    width: 100%;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.align-start {
    align-items: flex-start;
}

.align-baseline {
    align-items: baseline;
}

.justify-center {
    justify-content: center;
}

.red-bg {
    background-color: #f3c3c3;
}

.green-bg {
    background-color: #aff39c;
}

.blue-bg {
    background-color: #5ebafb;
}

.yellow-bg {
    background-color: #f1cd18;
}

.purple-bg {
    background-color: #c393f3;
}