#table-filters {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.table-filter {
    width: 200px;
}

#clinics-table-wrap {
    max-width: 1200px;
}

.clinic-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}