#registration-form-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

#context-selection-section {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#registration-details-section {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#registration-related-data-section {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.context-selector {
    width: 300px;
}

.selected-student-name {
    font-weight: bold;
}

#registration-fields-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

#check-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#registration-fields-section .form-field {
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: right;
}

#registration-fields-section .form-field label {
    width: 150px;
    font-weight: bold;
}

#registration-fields-section .form-field input {
    width: 150px;
}

#registration-fields-section .form-field select {
    width: 150px;
}

#notes-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

#notes-section label {
    font-weight: bold;
}

#notifications-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin-top: 15px;
}

.notification {
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffe0e0;
    color: #cc0000;
    border: 1px solid #cc0000;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-weight: bold;
}

.ignore-notification {
    color: #cc0000 !important;
}

#registration-submit-button-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
