#class-selection-section {
    display: none;
}

#roster-section {
    display: none;
}

#session-selector {
    width: 350px;
}

#class-selector {
    width: 350px;
}

#roster-table-wrap {
    max-width: 1000px;
}

#class-selection {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#roster-print-action {
    display: flex;
    gap: 10px;
    align-items: center;
}

#print-roster-button {
    width: 100px;
    height: auto;
}

.hidden {
    display: none !important;
}

.roster-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}


@keyframes loading-pulse {
    0% {
        opacity: 1;
        color: white;
    }

    50% {
        opacity: 0.6;
        color: lightgray;
        transform: scale(0.98);
    }

    100% {
        opacity: 1;
        color: white;
    }
}

.is-loading .button-text {
    animation: loading-pulse 1.5s infinite ease-in-out;
}

.is-loading {
    cursor: wait;
    pointer-events: none;
}