#session-rosters-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 800px;
}

@keyframes loading-pulse {
    0% {
        opacity: 1;
        color: white;
    }

    50% {
        opacity: 0.6;
        color: lightgray;
        transform: scale(0.98);
    }

    100% {
        opacity: 1;
        color: white;
    }
}

.is-loading .button-text {
    animation: loading-pulse 1.5s infinite ease-in-out;
}

.is-loading {
    cursor: wait;
    pointer-events: none;
}