#session-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#session-fields .form-field {
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: right;
}

#session-fields .form-field label {
    width: 100px;
    font-weight: bold;
}

#session-fields .form-field input[type="text"] {
    width: 200px;
}

#session-fields .form-field input[type="date"] {
    width: 130px;
}

input.invalid-field {
    background-color: #eeb7b7;
}

div#form-submission-errors .error-message {
    background-color: #eeb7b7;
    border-left: 4px solid #9e0303;
    padding: 6px;
    margin-bottom: 15px;
    color: #9e0303;
    font-weight: bold;
    display: none;
}

#session-info-section .acf-field {
    padding: 5px;
}

#session-info-section .acf-field-usctdp-session-name {
    width: 200px;
}

#session-info-section .acf-date-picker {
    width: 100px;
}

#new-session-input-table-body td {
    padding-left: 2px;
    padding-right: 2px;
}

#new-session-add-rows-section {
    margin-top: 10px;
}

#new-session-add-rows-section button {
    background-color: #1385b9 !important;
    color: #fff !important;
}

#new-session-add-rows-section button:hover {
    background-color: #005177 !important;
}

.dup-row-btn {
    background-color: #0d7000 !important;
    color: #fff !important;
}

.dup-row-btn:hover {
    background-color: #002c00 !important;
}

.remove-row-btn {
    background-color: #8b0000 !important;
    color: #fff !important;
}

.remove-row-btn:hover {
    background-color: #510000 !important;
}

#new-session-num-rows-field {
    width: 70px;
}

input,
select {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Row Label */
#new-session-input-table-body td:nth-child(1) {
    width: 15px;
}

/* Class Type */
#new-session-input-table-body td:nth-child(2) {
    width: 100px;
}

/* Day of Week */
#new-session-input-table-body td:nth-child(3) {
    width: 100px;
}

/* Class Start Time */
#new-session-input-table-body td:nth-child(4) {
    width: 80px;
}

/* Class End Time */
#new-session-input-table-body td:nth-child(5) {
    width: 80px;

}

/* Class Level */
#new-session-input-table-body td:nth-child(6) {
    width: 55px;
}

/* Class Capacity */
#new-session-input-table-body td:nth-child(7) {
    width: 55px;
}

/* Class 1 Day Price */
#new-session-input-table-body td:nth-child(8) {
    width: 70px;
}

/* Class 2 Day Price */
#new-session-input-table-body td:nth-child(9) {
    width: 70px;
}

/* Class Instructors */
#new-session-input-table-body td:nth-child(10) {
    width: 120px;
}

/* Class Dates */
#new-session-input-table-body td:nth-child(11) {
    width: 120px;
}

.multi-date-picker {
    width: 120px;
    padding-top: 4px;
    padding-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}