#active-sessions-select2 {
    width: 400px;
}

#upcoming-sessions-container {
    max-width: 800px;
}

#upcoming-sessions-table th:first-child {
    width: 80%;
}

#upcoming-sessions-table th:nth-child(2) {
    width: 20%;
}

.session-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}