#registration-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 5px;
    grid-auto-flow: row;
    grid-template-areas:
        "registration-fields registration-related-data";
}

#registration-form-section {
    grid-area: registration-fields;
    /* background-color: #dcdde0; */
    padding: 10px;
}

#registration-related-data-section {
    grid-area: registration-related-data;
    /* background-color: #dcdde0; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.selected-student-name {
    font-weight: bold;
}

#session-selector {
    width: 350px;
}

#class-selector {
    width: 350px;
}

#student-selector {
    width: 350px;
}

#registration-details-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#registration-fields-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    max-width: 500px;
}

#registration-fields-section .form-field {
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: right;
}

#registration-fields-section .form-field label {
    width: 150px;
    font-weight: bold;
}

#payment-amount-outstanding {
    width: 150px;
}

#payment-amount-paid {
    width: 150px;
}

#payment-method {
    width: 150px;
}

#check-number {
    width: 150px;
}

#student-level {
    width: 150px;
}

#notes-section {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

#notes-section label {
    font-weight: bold;
}

#notifications-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin-top: 15px;
}

.notification {
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffe0e0;
    color: #cc0000;
    border: 1px solid #cc0000;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-weight: bold;
}

.ignore-notification {
    color: #cc0000 !important;
}