.main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#family-selector {
    width: 250px;
}

.family-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#family-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "fd fn fn fn fn fn"
        "fd fn fn fn fn fn"
        "fr fr fr fr fr fr"
        "fm fm fm fm fm fm";
}

.family-details {
    grid-area: fd;
}

.family-notes {
    grid-area: fn;
}

.family-registrations {
    grid-area: fr;
}

.family-members {
    grid-area: fm;
}

div.dt-length select {
    width: 50px;
}

#family-table-wrap {
    max-width: 800px;
    min-width: 0;
}

#family-info-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 5px;
    padding: 5px;
    background-color: #f9f9f9;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.family-field {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}

label {
    font-size: 0.85rem;
    text-transform: uppercase;
    color: #666;
    font-weight: 700;
    margin-bottom: 4px;
}

.family-field span {
    font-size: 1rem;
    color: #333;
    min-height: 1.2em;
    /* Prevents collapse if empty */
}

#family-notes-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5px;
    gap: 10px;
    width: 100%;
    max-width: 500px;
}

#family-notes-wrap textarea {
    width: 100%;
}

.family-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#save-notes-action {
    display: flex;
    gap: 10px;
    align-items: center;
}

@keyframes loading-pulse {
    0% {
        opacity: 1;
        color: #CCCCCC;
    }

    50% {
        opacity: 0.8;
        color: #1c2576;
        transform: scale(0.98);
    }

    100% {
        opacity: 1;
        color: #CCCCCC;
    }
}

.is-loading .button-text {
    animation: loading-pulse 1.5s infinite ease-in-out;
}

.is-loading {
    cursor: wait;
    pointer-events: none;
}